// You must use a Sass variable
// guillaume@ubuntu:~/$ sass 1-color_variable.scss | tail -n +2
// This example uses a sass variable

$primary-color: #333;
$bg-color: #ffffff;


body {
  color: $bg-color
}

h1{
    color: $primary-color
}

p {
  color: $primary-color
}

// guillaume@ubuntu:~/$ 